:root {
  --gutter: 20px;
}

a:link {
  color: #fc861d;
}
a:hover {
  color: #6F00CD;
}

body {
    display: grid;
    place-items: center;
    background: #000000;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(6, calc(90% - var(--gutter) * 2));
  grid-template-rows: minmax(700px, 1fr);
  
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
  margin-top: 0px;
}


/* Demo styles */

html,
body {
  height: 100%;
}

body {
  display: grid;
  /*place-items: center;*/
  background: #000000;
}

ul {
  list-style: none;
  padding: 0;
}

h1{
  font-family: "Nova Round";
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  margin: 0;
  color: #ffffff;
  text-shadow: 4px 4px 8px #2CDAFF;
}
h1:hover{
  color: #6F00CD;
}
h2{
  width: 652px;
  height: 452px;
  font-family: 'Alef';
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: normal;
  color: #2CDAFF;
}
h3 {
  font-family: 'Alef';
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: normal;
  color: #2CDAFF;
  justify-content: bottom;
}
h4{
  font-family: "Nova Round";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #2CDAFF;
  text-align: left;
  margin: 0;
  text-shadow: 2px 2px #fc861d;
}
h5{
  font-family: 'Alef';
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  line-height: normal;
  color: #2CDAFF;
  text-align: left;
  margin: 0px;
  justify-content: top;
}
h6{
  font-family: 'Alef';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
  color: #2CDAFF;
  text-align: left;
}

.app {
  width: 100%;
  height: 100%;
  background: #000000;
  overflow-y: scroll;
  /*
  width: 1366px;
  height: 768px;
  background: #DBD0BC;
  overflow-y: scroll;
  */
}

.hs > li,
.item {
  /*this is where we tweek to make the horizontal scrool*/
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  background: #000000;
  border-radius: 8px;
}

.grid-container {
  display: grid;
  justify-content: top;
  grid-template-columns: auto auto auto auto auto;
  background-color: #000000;
  padding: 10px;
}
.grid-item {
  background-color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.button {
  border: 2px #2CDAFF;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #2CDAFF;
  background-color: #000000;
  text-align: left;
  font-size: 24px;
  width: 100%;
}

.background-img{
  background:url('Mushroom_Icon_Boletus22.png');
  position:fixed;
  right:10px;
  bottom: 10px 
}

