:root {
  --gutter: 20px;
}


element.style {
    margin-top: 0px;
}

::-webkit-scrollbar {
  width: 0px;
}

a:link {
  color: #fc861d;
}
a:hover {
  color: #6F00CD;
}

body {
    display: grid;
    place-items: center;
    background: #000000;
}

.app {
  width: 100%;
  height: auto;
  background: #000000;
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

img {
  width:80vw;
  height:60vh;
  object-fit:contain;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(10, calc(90% - var(--gutter) * 2));
  grid-template-rows: minmax(700px, 1fr);
  
  overflow-x: scroll;
  /*scroll-snap-type: x proximity;*/
  overflow-y: none;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
  margin-top: 0px;
}


/* Demo styles */

html,
body {
  height: 100%;
}

body {
  display: grid;
  /*place-items: center;*/
  background: #000000;
}

ul {
  list-style: none;
  padding: 0;
}

#container {
  position: relative;

}

#container h1{
  font-family: "Nova Round";
  font-style: normal;
  font-weight: normal;
  font-size: 19vw;
  margin: 0;
  color: #ffffff;
  text-shadow: 4px 4px 8px #2CDAFF;
}
#container h1:hover{
  color: #6F00CD;
}
#container h2{
  width: 57vw;
  height: 452px;
  font-family: 'Alef';
  font-style: italic;
  font-weight: normal;
  font-size: 2vw;
  line-height: normal;
  color: #2CDAFF;
}
#container h3 {
  margin: 0px;
  font-family: 'Alef';
  font-style: italic;
  font-weight: normal;
  font-size: 3vw;
  line-height: normal;
  color: #2CDAFF;
  justify-content: bottom;
}
h4{
  font-family: "Nova Round";
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  line-height: normal;
  color: #2CDAFF;
  text-align: left;
  margin: 0;
  text-shadow: 2px 2px #fc861d;
}

h4:hover {
  color: #6F00CD;
}

#container h2.discription{
  
}
#container h2 key{
  color: #fc861d;
  text-shadow: 2px 2px 2px #ffffff;
}
#container h5{
  font-family: 'Alef';
  font-style: italic;
  font-weight: bold;
  font-size: 2vw;
  line-height: normal;
  color: #2CDAFF;
  text-align: left;
  justify-content: top;
}
h6{
  font-family: 'Alef';
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: normal;
  color: #2CDAFF;
  text-align: center;
}

p {
  color: #2CDAFF;
  text-align: center;
  font-size: 3vw;
  margin-top: 0px;
}

.bottom-left {
  position: absolute;
  bottom: -40vh;
  left: 2vw;
}


.app {
  width: 100%;
  height: 100%;
  background: #000000;
  overflow-y: scroll;
  /*
  width: 1366px;
  height: 768px;
  background: #DBD0BC;
  overflow-y: scroll;
  */
}

.hs > li,
.item {
  /*this is where we tweek to make the horizontal scrool*/
  /*scroll-snap-align: center;*/
  width: 100%;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  background: #000000;
  border-radius: 8px;
}

.grid-container {
  display: grid;
  width: 100vw;
  justify-content: top;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  background-color: #000000;
  padding: 10px;
}
.grid-item {
  background-color: #000000;
  width: 10vw;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.button {
  
}

div.botright
{
  display:block;
  position:absolute;
  bottom:0;
  right:0;
  width:350px;
  height:350px;
  background-image: url('Mushroom_Icon_Boletus22.png');
  background-repeat: no-repeat;
  background-position:bottom right;
}


